server:
  port: 8080

spring:

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  data:
    redis:
      host: redis
      port: 6379
      timeout: 6000ms
      password:

oauth:
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    redirect-uri: ${KAKAO_REDIRECT_URI}

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    com.example.unis_rssol: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info  # 허용할 엔드포인트
  endpoint:
    health:
      show-details: always  # 상세 정보 표시, 필요에 따라 'never' 또는 'when-authorized'

