server:
  port: 8080

spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  data:
    redis:
      host: redis #localhost #Redis가 Docker에서 돌아가는 경우라면 host를 redis (컨테이너 이름)으로
      port: 6379
      password: ${REDIS_PASSWORD}
      timeout: 6000ms

oauth:
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    redirect-uri: ${KAKAO_REDIRECT_URI}

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    com.example.unis_rssol: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info  # 허용할 엔드포인트
  endpoint:
    health:
      show-details: always  # 상세 정보 표시, 필요에 따라 'never' 또는 'when-authorized'

